.projectWrapper img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectWrapper {
  border: 2px solid black;
  margin-bottom: 20px;
  border-radius: 5px;
  max-width: 353px;
  height: 295px;
}

.MainProjects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 90px;
  padding-left: 50px;
  margin-bottom: 20px;
  min-height: 500px;
}

.img__mask {
  transition: all 700ms ease;
}

.projectWrapper {
  display: block;
  position: relative;
}

.img__mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 20px;
}

.img__mask:hover {
  opacity: 1;
}

.title {
  width: 100%;
  z-index: 1;
  color: white;
  text-align: center;
}

@media screen and (max-width: 815px) {
  .MainProjects {
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .MainProjects {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 650px) {
  .MainProjects {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 380px) {
  .projectWrapper {
    width: 300px;
    height: 260px;
  }
}
