.tittle {
  margin: 30px 0 10px 0;
}

.skillsWrapper {
  display: flex;
  gap: 3px;
  margin-bottom: 10px;
}

.skillsImg {
  width: 30px;
  transition: all 500ms ease;
}

.skillsImg:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 530px) {
  .tittle {
    margin: 0 0 10px 0;
  }
}
