.certificateWrapper img {
  max-width: 100%;
  height: 100%;
}

.certificateWrapper {
  border: 2px solid black;
  margin-bottom: 20px;
  border-radius: 5px;
}

.MainCertificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  padding-left: 50px;
  margin-bottom: 20px;
  max-width: 100%;
  min-height: 500px;
}

.img__mask {
  transition: all 700ms ease;
}

.certificateWrapper {
  display: block;
  position: relative;
}

.img__mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 20px;
}

.img__mask:hover {
  opacity: 1;
}

.title {
  width: 100%;
  z-index: 1;
  color: white;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .MainCertificates {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 650px) {
  .MainCertificates {
    padding-left: 10px;
    padding-right: 10px;
  }
}
